<%- include('../Views/components/header.ejs') %>

<div class="row my-3">

	<div class="col-sm-3">
		<div class="card bg-info">
			<div class="card-body">
				<h5 class="card-title">Jumlah Berat Badan Kurus</h5>
				<p class="card-text">Jumlah Angka</p>
			</div>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="card bg-success">
			<div class="card-body">
				<h5 class="card-title">Jumlah Berat Badan Normal</h5>
				<p class="card-text">Jumlah Angka</p>
			</div>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="card bg-warning">
			<div class="card-body">
				<h5 class="card-title">Jumlah Berat Badan Berlebihan</h5>
				<p class="card-text">Jumlah Angka</p>
			</div>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="card bg-danger">
			<div class="card-body">
				<h5 class="card-title">Jumlah Berat Badan Obesitas</h5>
				<p class="card-text">Jumlah Angka</p>
			</div>
		</div>
	</div>

</div>

<%- include('../Views/components/footer.ejs') %>